@page "/scene/{name}"
@using BusinessLogic;
@using Domain;
@using Engine;
@inject Manager manager;
@inject NavigationManager NavigationManager;


<h3>Scene:  @name</h3>


<div class="form-group">
	<label for="name">Modelos Disponibles:</label>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
			</tr>
		</thead>
		<tbody>


			<ul>
				@foreach (var model in manager.GetModels())
				{

				
					<button type="button" class="btn btn-success btn-sm" @onclick="(() => SeleccionarModelo(model))">@model.name</button>
				}
			</ul>

			
		

		</tbody>
	</table>
</div>

<form id="myForm1" style="display:none">
	
	<input type="number" @bind-value="CoordenadaX" />
</form>
@if (mostrarFormulario)
{
	<form id="myForm1">
		<label>CoordenadaX:</label>
		<input type="number" @bind-value="CoordenadaX" />
	</form>
}


<form id="myForm2" style="display:none">

	<input type="number" @bind-value="CoordenadaY" />
</form>
@if (mostrarFormulario)
{
	<form id="myForm2">
		<label>CoordenadaY:</label>
		<input type="number" @bind-value="CoordenadaY" />
	</form>
}

<form id="myForm3" style="display:none">
	
	<input type="number" @bind-value="CoordenadaZ" />
</form>
@if (mostrarFormulario)
{
	<form id="myForm3">
		<label>CoordenadaZ:</label>
		<input type="number" @bind-value="CoordenadaZ" />

	</form>

	<button @onclick="AgregarModeloPosiconado">Agregar Modelo Posicionado</button>

}




<div class="form-group">
	<table>
		<thead>
			<tr>
				<th>Modelos Posicionados</th>
			</tr>
		</thead>
		<tbody>
			@foreach (PositionedModel positionedModel in scene.GetPositionedModels())
			{
				<tr>
					<td>@positionedModel.ToString()</td>
					<td><button type="button" class="btn btn-danger btn-sm" @onclick="(() => scene.deletePositionedModel(positionedModel))">Eliminar</button></td>

				</tr>
			}
		</tbody>
	</table>
</div>




<div class="form-group">
	<label for="lookFrom">Look From:</label>

	<form id="LookFrom">
		<input type="number" @bind-value="LookFromX" />
		<input type="number" @bind-value="LookFromY" />
		<input type="number" @bind-value="LookFromZ" />

	</form>
</div>


<div class="form-group">
	<label for="lookAt">Look At:</label>

	<form id="LookAt">
		<input type="number" @bind-value="LookAtX"/>
		<input type="number" @bind-value="LookAtY"/>
		<input type="number" @bind-value="LookAtZ"/>

	</form>
</div>


<div class="form-group">
	<label for="FoV">FoV:</label>
	
	<form id="Fov">
		<input type="number" @bind-value="Fov" />
	</form>
</div>

<button @onclick="Renderizar">Renderizar</button>


<div class="form-group">
	<label for="name">Preview:</label>
	<img src="@String.Concat("images/",manager.logged.name,"/",scene.name,".png")" style="width: 300px; height: 200px;" />

	<p class="text-start">Último renderizado: @scene.lastRendered</p>
	@if(scene.lastRendered<scene.lastModified)
    {
		<div class="alert alert-warning" role="alert">
			<i class="fa-solid fa-triangle-exclamation">Imagen desactualizada</i>
		</div>
    }
</div>




@code {




	private bool mostrarFormulario = false;
	private int CoordenadaX = 0;
	private int CoordenadaY = 0;
	private int CoordenadaZ = 0;

	private int LookFromX = 0;
	private int LookFromY = 2;
	private int LookFromZ = 0;


	private int LookAtX=0;
	private int LookAtY = 2;
	private int LookAtZ = 5;


	private int Fov = 30;

	private string nameError = "";


	private Model modeloSeleccionado;

	private void SeleccionarModelo(Model modelo)
	{
		modeloSeleccionado = modelo;

		mostrarFormulario = true;

	}


	void AgregarModeloPosiconado()
	{

		Coordinate coordinates = new Coordinate();

		if (coordinates.VerifyCoordinate(CoordenadaX,CoordenadaY,CoordenadaZ))
		{
			Coordinate coordinateCreate = new Coordinate(CoordenadaX, CoordenadaY, CoordenadaZ);

			PositionedModel PositionedModel = new PositionedModel(modeloSeleccionado, coordinateCreate);

			scene.addPositionedModel(PositionedModel);

		}
		CoordenadaX = 0;
		CoordenadaY = 0;
		CoordenadaZ = 0;

		mostrarFormulario = false;

	}


	void Renderizar()
	{
		Coordinate lookFrom = new Coordinate(LookFromX, LookFromY, LookFromZ);
		Coordinate lookAt = new Coordinate(LookAtX, LookAtY, LookAtZ);

		Render render = new Render(scene, lookFrom, lookAt, Fov);
		render.RenderScene(manager.logged.name);
		scene.Render();


		NavigationManager.NavigateTo("/scene/"+name,true);

	}





	[Parameter]
	public string name { get; set; }
	private Scene scene;
	protected override void OnInitialized()
	{
		scene = manager.GetScenebyName(name);
	}
}
