@page "/scene/{name}"
@using BusinessLogic;
@using Domain;
@inject Manager manager;

<h3>Scene @name</h3>


<div class="form-group">
	<label for="name">Modelos Disponibles:</label>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var model in manager.GetModels())
			{
				<tr>
					<td>@model.name</td>
				</tr>
			}
		</tbody>
	</table>
</div>



<div class="form-group">
	<table>
		<thead>
			<tr>
				<th>Modelos Posicionados</th>
			</tr>
		</thead>
		<tbody>
			@foreach (PositionedModel positionedModel in scene.GetPositionedModels())
			{
				<tr>
					<td>@positionedModel.ToString()</td>
				</tr>
			}
		</tbody>
	</table>
</div>



<div class="form-group">
	<label for="lookFrom">Look From:</label>
	<input type="text" class="form-control" id="lookFrom" @bind="@scene.cameraPosition">
</div>




<div class="form-group">
	<label for="lookAt">Look At:</label>
	<input type="text" class="form-control" id="lookAt" @bind="@scene.cameraObjective">
</div>




<div class="form-group">
	<label for="FoV">FoV:</label>
	<input type="text" class="form-control" id="FoV" @bind="@scene.FieldOfVision">
</div>



<div class="form-group">
	<label for="name">Preview:</label>
	<input type="text" class="form-control" id="name" @bind="@name">
</div>




@code {


	[Parameter]
	public string name { get; set; }
	private Scene scene;
	protected override void OnInitialized()
	{
		scene = manager.GetScenebyName(name);
	}
}
