@page "/Figures"
@using Domain;
@using BusinessLogic;
@using System.Globalization;
@inject NavigationManager NavigationManager
@inject Manager manager;




<h3>Figure</h3>

<h3>Crear una figura (esfera)</h3>


    <div class="form-group">
        <label for="name">Nombre de la figura:</label>
        <input type="text" class="form-control" id="name" @bind="@name">
    </div>
    <div class="form-group">
        <label for="radius">Radio de la figura:</label>
        <input type="text" class="form-control" id="radius" @bind="@radius">
    </div>



    <button type="button" class="btn btn-primary" @onclick="CrearFigura">Crear Figura</button>
    @if (!string.IsNullOrEmpty(mensajeError))
    {
        <div class="alert alert-danger">@mensajeError</div>

    }

    <button type="button" class="btn btn-primary" @onclick="CancelarFigura">Cancelar</button>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Radio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var figura in manager.GetFigures())
            {
                <tr>
                    <td>@figura.name</td>
                    <td>@figura.radio</td>
                <td><button type="button" class="btn btn-danger btn-sm" @onclick="(() => manager.DeleteFigure(figura))">Eliminar</button></td>
                </tr>
            }
        </tbody>
    </table>





@code {
    private string name = "";
    private string radius;
    private string mensajeError;
    

    void CrearFigura()
    {

        float radiusNumber = float.Parse(radius, CultureInfo.InvariantCulture.NumberFormat);

        Figure figure = new Figure();



        if (figure.VerifyNameFigure(name) && figure.VerifyRadiusFigure(radiusNumber))
        {


            Figure newFig = new Figure(name, radiusNumber);
            manager.addFigure(newFig);
        }
        else
        {
            mensajeError = "Incorrect name or radius";
        }
    }

    void CancelarFigura()
    {

        NavigationManager.NavigateTo("/logged");
    }



}
