@using BusinessLogic;
@using Domain;
@inject Manager manager;
@inject NavigationManager NavigationManager;
@page "/model";

<h3>model</h3>

<InputText @bind-Value="name"/>
@if (!string.IsNullOrEmpty(nameError))
{
    <div class="alert alert-danger">@nameError</div>

}

<label for="Figures">Figuras</label>
<select class="form-control" id="Figures" @onchange="figureSelection">
    <option disabled selected value= "">Selecciona la figura</option>
    @foreach (var figure in manager.GetFigures())
    {
        <option value="@figure.name">@figure.name</option>
    }
</select>

<label for="Material">Materiales</label>
<select class="form-control" id="Material" @onchange="materialSelection">
    <option disabled selected value="">Selecciona el material</option>
    @foreach(var material in manager.GetMaterials())
    {
        <option value="@material.name">@material.name</option>
    }
</select>

<p>Generar preview al guardar</p>
<InputCheckbox @bind-Value="@isChecked"/>

<button type="button" class="btn btn-primary" @onclick="CrearModelo">Guardar</button>
@if (!string.IsNullOrEmpty(mensajeError))
{
    <div class="alert alert-danger"> @mensajeError </div>
}

<button type="button" class="btn btn-primary" @onclick="VerModelo">Ver Modelos</button>

@code {
    private string name;
    private string nameError;
    private string mensajeError;
    private string selectedMaterial;
    private Material material;
    private string selectedFigure;
    private Figure figure;
    private bool isChecked = false;

    Model model = new Model();

    void figureSelection(ChangeEventArgs e)
    {
        selectedFigure = e.Value.ToString();
        figure = manager.MatchingFigure(selectedFigure);
    }

    void materialSelection(ChangeEventArgs e)
    {
        selectedMaterial = e.Value.ToString();
        material = manager.MatchingMaterial(selectedMaterial);
    }

    void CrearModelo()
    {

        if (model.VerifyName(name))
        {
            model = new Model(name, figure, material);
            manager.addModel(model);

        }
        else
        {
            mensajeError = "figura " + selectedFigure + " material " + selectedMaterial;
        }
    }

    void VerModelo()
    {
        NavigationManager.NavigateTo("/model/list");
    }


}
